:root {
  --chatbox-height: 33px;
}

#chatbox {
  margin-right: 20px;
  width: 80%;
  height: var(--chatbox-height);
  padding: 5px;
  font-size: 20px;
  overflow-y: scroll;
  outline: none;
  border: 2px solid black;
  border-radius: 5px;
  resize: none;
  float: left;
}

button {
  height: var(--chatbox-height)
}

#messages {
  overflow-y: scroll;
  height: 70vh;
  width: 100%;
}

#messages p {
  padding: 2px;
}

#messages p:hover {
  background-color: rgb(233, 233, 200);
}